.gris
{
  background-color: rgb(186, 186, 186);
}

div
{

  display: inline-table;
  margin-left: 5%;
  width: 300px;
}

table
{
  border-collapse: collapse;
  width: 300px;
  border-bottom: 5px rgb(250, 21, 131) solid;
  height: 250;
}

h3
{
  border: 2px rgb(250, 21, 131) solid;
  margin: 0;
  margin-top: 50px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgb(250, 21, 131);
}

img
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 5%;
}

body
{
  margin-left: 100px;
  margin-right: 30px;
}

h2
{
  text-align: center;
  font-family: cursive;
}
