.gris
{
  background-color: rgb(186, 186, 186);
}

div
{

  display: inline-table; /* Aligne le tableau */
  margin-left: 5%; /* separe les tableau par la gauche */
  width: 100px; /* la taille des bordure */
}

table
{
  border-collapse: collapse; /* Fusionne les cellule */
  width: 300px; /* Augmente la taille */
  border-bottom: 5px rgb(250, 21, 131) solid; /* Ajoute une bordure en bas des tableau */
  height: 250px; /* regle la hauteur des tableau */
}

h3
{
  border: 2px rgb(250, 21, 131) solid;
  margin: 0; /* supprime la marge */
  margin-top: 50px; /* separe le titre et les tableau */
  border-top-left-radius: 10px; /* arrondie le bord de la bordure a gauche */
  border-top-right-radius: 10px; /* arrondie le bord de la bordure a droite */
  background-color: rgb(250, 21, 131);
}

img
{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 5%;
}

body
{
  margin-left: 100px;
  margin-right: 30px;
}

h2
{
  text-align: center;
  font-family: cursive;
  text-decoration: underline rgb(250, 21, 131);
}

@media all and (max-width: 1024px)
{
    div
    {
      display: block;
    }

    body
    {
      margin-left: 10px;

    }

    img
    {
      display: none;
    }

    h3
    {
      width: 296px;
    }
}
